@model Item

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Edytuj produkt</h2>
<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="ItemName">Nazwa produktu:</label>
        <input asp-for="ItemName" class="form-control" />
        <span asp-validation-for="ItemName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Dane Szczegółowe:</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price">Cena:</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="QuantityInStock">Ilość:</label>
        <input asp-for="QuantityInStock" class="form-control" />
        <span asp-validation-for="QuantityInStock" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="WarehouseID">Magazyn:</label>
        <select asp-for="WarehouseID" asp-items="@ViewBag.WarehouseList" class="form-control">
            <option value="">-- Wybierz magazyn --</option>
        </select>
        <span asp-validation-for="WarehouseID" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Zapisz</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>