@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projekt Końcowy</h1>
    <p>Eryk Olsza</p>
    <p>14331</p>
    <p>Temat: Aplikacja do zarządzania zamówieniami i magazynem</p>
</div>
